body{
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    /* background: url(../img/loginbg.png) no-repeat; */
    background: linear-gradient(160deg,#ffb785,#ff9498,#e280bc,#9580da,#5f76d3,#7359b8,#7f3b97,#831072);
}
#app{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    padding: 2em;
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 0px 0px 30px 0px #3d707a;
}
#app h2{
    /* color: #fff; */
    margin-top: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #dcdfe6;
}
.el-form-item__label{
    line-height: 24px;
}
.el-input__inner{
    background: round;
}
