<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统</title>
    <!-- jquser.min.js -->
    <script src="libs/jquery/jquery.min.js"></script>
    <!-- <script src="js/vue.min.js"></script> -->
    <script src="libs/vue/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="libs/element-ui/element-ui.css">
    <!-- 自己的样式 -->
    <link rel="stylesheet" href="css/index.css">
    <!-- 引入组件库 -->
    <script src="libs/element-ui/element-ui.js"></script>
    <!-- 发送检测请求 是否登录的请求 -->
    <script src="/users/isLogin"></script>
</head>

<body>
    <div id="app">
        <el-container style="min-height: 100vh;">
            <el-aside width="300px">
                <!--  -->
                <!-- <side-title></side-title> -->
                <div id="side-title">
                    <h2>{{title}}</h2>
                    <p>你好,<a href="">{{userName}}</a></p>
                    <p><a href="/">管理首页</a> | <a href="/users/signOut">退出系统</a></p>
                </div>
                <!--  -->

                <el-menu :unique-opened="true" :default-openeds="['']">
                    <!-- 菜单一 -->
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-message"></i>分类管理</template>
                        <el-menu-item-group>
                            <!-- <template slot="title">分组一</template> -->
                            <el-menu-item index="1-1"><a href="">分类管理</a></el-menu-item>
                            <el-menu-item index="1-2"><a href="">添加分类</a></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单二 -->
                    <el-submenu index="2">
                        <template slot="title"><i class="el-icon-menu"></i>商品管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1"><a href="">添加商品</a></el-menu-item>
                            <el-menu-item index="2-2"><a href="">商品管理</a></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单三-->
                    <el-submenu index="3">
                        <template slot="title"><i class="el-icon-setting"></i>进货管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="3-1"><a href="">库存管理</a></el-menu-item>
                            <el-menu-item index="3-2"><a href="">添加库存</a></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单四-->
                    <el-submenu index="4">
                        <template slot="title"><i class="el-icon-setting"></i>出货管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="4-1"><a href="">销售列表</a></el-menu-item>
                            <el-menu-item index="4-2"><a href="">商品出库</a></el-menu-item>
                            <el-menu-item index="4-3"><a href="">商品退货</a></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单四-->
                    <el-submenu index="5">
                        <template slot="title"><i class="el-icon-setting"></i>统计管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="5-1"><a href="">销售统计</a></el-menu-item>
                            <el-menu-item index="5-2"><a href="">进货统计</a> </el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单四-->
                    <el-submenu index="6">
                        <template slot="title"><i class="el-icon-setting"></i>账号管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="6-1"><a href="./userList.html">账号管理</a></el-menu-item>
                            <el-menu-item index="6-2"><a href="./userAdd.html">添加账号</a></el-menu-item>
                            <el-menu-item index="6-3">密码修改</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单四-->
                    <el-submenu index="7">
                        <template slot="title"><i class="el-icon-setting"></i>会员管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="7-1"><a href="">账号管理</a></el-menu-item>
                            <el-menu-item index="7-2"><a href="">添加账号</a></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单四-->
                    <el-submenu index="8">
                        <template slot="title"><i class="el-icon-setting"></i>系统管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="8-1"><a href="">系统信息</a></el-menu-item>
                            <el-menu-item index="8-2"><a href="">系统配置</a></el-menu-item>
                            <el-menu-item index="8-3"><a href="">权限管理</a></el-menu-item>
                            <el-menu-item index="8-4"><a href="">添加管理组</a></el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
                </el-menu>
            </el-aside>

            <section id="right-con">
                <el-container>
                    <el-header>
                        <h2>欢迎您 {{userName}}</h2>
                        <p>查看详细的系统信息</p>
                    </el-header>

                    <el-main>
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>
                                    <h3>系统信息</h3>
                                </span>
                                <!-- <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button> -->
                            </div>
                            <div class="text item">
                                <!-- 卡片盒子 内容 -->
                                <el-form :model="addGoodsType" status-icon :rules="rules" ref="addGoodsType" label-width="100px"
                                    class="demo-ruleForm">
                                    <!-- 所属分类 goodType -->
                                    <el-form-item label="所属分类" prop="goodType">
                                        <el-select v-model="addGoodsType.goodType" placeholder="--请选择顶级分类--">
                                          <el-option label="生鲜食品" value="生鲜食品"></el-option>
                                          <el-option label="生活杂货" value="生活杂货"></el-option>
                                          <el-option label="五金百货" value="五金百货"></el-option>
                                          <el-option label="家具电器" value="家具电器"></el-option>
                                          <el-option label="服饰" value="服饰"></el-option>
                                        </el-select>
                                      </el-form-item>
                                      <!-- 分类名称 typeName -->
                                    <el-form-item label="分类名称" prop="typeName">
                                        <el-input style="width: 217px;" type="text" v-model="addGoodsType.typeName" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <!-- 状态 state -->
                                    <el-form-item label="状态" prop="state">
                                        <el-radio-group v-model="addGoodsType.state">
                                          <el-radio class="is-checked" label="启用"></el-radio>
                                          <el-radio label="禁用"></el-radio>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm('addGoodsType')">添加</el-button>
                                        <el-button @click="resetForm('addGoodsType')">重置</el-button>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </el-card>
                        <!--
                        数据可建表
                        create table goodstype(
                            id int primary key auto_increment,
                            ctime TIMESTAMP  default CURRENT_TIMESTAMP,
                            goodType varchar(50),
                            typeName varchar(50),
                            state varchar(10)
                        );
                        create table goodstype(
                            id int primary key auto_increment, // id
                            ctime TIMESTAMP  default CURRENT_TIMESTAMP, // 创建时间
                            goodType varchar(50),
                            typeName varchar(50),
                            state varchar(10)
                        )
                       -->


                    </el-main>
                    <!-- 右侧尾部 -->
                    <el-footer>
                        <hr />
                        <p>&copy; Copyright 2018 华联超市管理系统</p>
                    </el-footer>
                </el-container>
            </section>
            <!--  -->
        </el-container>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data() {
                return {
                    addGoodsType: {
                        goodType: '', // 商品顶级分类
                        typeName: '', // 分类名称
                        state: '' // 状态
                    },
                    rules: {
                        goodType: [
                            { required: true, message: '请选择顶级分类', trigger: 'change' }
                        ],
                        typeName: [
                            { required: true, message: '请输入商品分类名称', trigger: 'blur'}
                        ],
                        state: [
                            { required: true, message: '请选择活动资源', trigger: 'change' }
                        ]
                    },
                    title: '华联超市管理系统',
                    userName: 'admin'
                };
            },
            created() {
                this.getLoginInfo()
            },
            methods: {
              // 表单成功提示信息
              success() {
                this.$message({
                  message: '哎呦,不错哦!, 保存成功!',
                  type: 'success'
                });
                setTimeout(() => {
                    location.href = './typeList.html'
                }, 1200);
              },
              // 表单失败的提示信息
              error() {
                this.$message.error('哦豁!，保存失败!');
              },

              // 提交 新建商品分类 表单
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                      let _this = this;
                        if (valid) {
                            // alert('submit!');
                            // 定义要传的参数
                            let params = {
                              goodType: this.addGoodsType.goodType, // 商品顶级分类
                              typeName: this.addGoodsType.typeName, // 分类名称
                              state: this.addGoodsType.state // 状态
                            }
                            // 发送 post 请求 给后端 保存数据
                            $.post('/goods/goodstype', params , function (data) {
                              //接收后端返回的数据
                              if(data.errcode === 1){
                                _this.success();
                              } else {
                                _this.error();
                              }

                            })
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },

                // 获取登录的用户信息
                getLoginInfo() {
                    let _this = this;
                    // 获取 cookie 中的 路径
                    let userid = document.cookie;
                    let id = userid.split('userid=')[1].split(';')[0];
                    $.post('/getuser', {
                        "id": id
                    }, function (data) {
                        _this.userName = data[0].username;
                        console.log(_this.userName);
                    })
                }
            }
        })
    </script>
</body>

</html>
