<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统</title>
    <!-- <script src="js/vue.min.js"></script> -->
    <script src="libs/vue/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="libs/element-ui/element-ui.css">
    <!-- 自己的样式 -->
    <link rel="stylesheet" href="css/login.css">
    <!-- 引入组件库 -->
    <script src="libs/element-ui/element-ui.js"></script>
</head>

<body>
    <div id="app">
        <h2>超市管理系统登录</h2>
        <el-form :model="loginForm" status-icon :rules="rules" ref="loginForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="用户名" prop="username">
                <el-input type="text" v-model="loginForm.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input type="password" v-model="loginForm.password" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
                <el-input v-model.number="loginForm.checkPass"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('loginForm')">提交</el-button>
                <el-button @click="resetForm('loginForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data() {
                //定义一个方法 验证 确认密码
                let checkPwd = (rule, value, callback) => {
                        if (value === '') {
                            callback(new Error('请再次输入密码!'))
                        } else if (value != this.loginForm.password) {
                            callback(new Error('两次输入密码不一致!'))
                        } else {
                            callback(); // 成功的回调
                        }
                    }
                    return {
                        // 定义表单需要的数据
                        loginForm: {
                            username: '',
                            password: '',
                            checkPass: ''
                        },
                        // 验证 数据
                        rules: {
                            username: [
                                // required是否必填 message:提示信息 trigger:触发方式
                                {
                                    required: true,
                                    message: '请输入用户名',
                                    trigger: 'blur'
                                },
                                {
                                    min: 5,
                                    max: 12,
                                    message: '长度在 5 到 8 个字符',
                                    trigger: 'blur'
                                }
                            ],
                            password: [
                                // required是否必填 message:提示信息 trigger:触发方式
                                {
                                    required: true,
                                    message: '请输入密码',
                                    trigger: 'blur'
                                },
                                {
                                    min: 5,
                                    max: 12,
                                    message: '长度在 5 到 8 个字符',
                                    trigger: 'blur'
                                }
                            ],
                            checkPass: [
                                // required是否必填 message:提示信息 trigger:触发方式
                                {
                                    required: true,
                                    validator: checkPwd,
                                    trigger: 'blur'
                                }
                            ]
                        }

                    };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            alert('登录成功!');
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>
</body>

</html>