<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统</title>
    <!-- <script src="js/vue.min.js"></script> -->
    <script src="libs/vue/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="libs/element-ui/element-ui.css">
    <!-- 自己的样式 -->
    <link rel="stylesheet" href="css/index.css">
    <!-- 引入组件库 -->
    <script src="libs/element-ui/element-ui.js"></script>
</head>

<body>
    <div id="app">
        <el-container style="min-height: 100vh;">
            <el-aside width="300px">
                <!--  -->
                <side-title></side-title>
                <!-- <div id="side-title">
                    <h2>华联超市管理系统</h2>
                    <p>你好,<span>admin</span></p>
                    <p><a href="/">管理首页</a>|<a href="/login">退出系统</a></p>.
                </div> -->
                <!--  -->

                <el-menu :unique-opened="true" :default-openeds="['6']">
                    <!-- 菜单一 -->
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-message"></i>分类管理</template>
                        <el-menu-item-group>
                            <!-- <template slot="title">分组一</template> -->
                            <el-menu-item index="1-1">分类管理</el-menu-item>
                            <el-menu-item index="1-2">添加分类</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单二 -->
                    <el-submenu index="2">
                        <template slot="title"><i class="el-icon-menu"></i>商品管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1">商品管理</el-menu-item>
                            <el-menu-item index="2-2">添加商品</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单三-->
                    <el-submenu index="3">
                        <template slot="title"><i class="el-icon-setting"></i>进货管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="3-1">库存管理</el-menu-item>
                            <el-menu-item index="3-2">添加库存</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单四-->
                    <el-submenu index="4">
                        <template slot="title"><i class="el-icon-setting"></i>出货管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="4-1">销售列表</el-menu-item>
                            <el-menu-item index="4-2">商品出库</el-menu-item>
                            <el-menu-item index="4-3">商品退货</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单四-->
                    <el-submenu index="5">
                        <template slot="title"><i class="el-icon-setting"></i>统计管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="5-1">销售统计</el-menu-item>
                            <el-menu-item index="5-2">进货统计</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单四-->
                    <el-submenu index="6">
                        <template slot="title"><i class="el-icon-setting"></i>账号管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="6-1">账号管理</el-menu-item>
                            <el-menu-item class="is-active" index="6-2">添加账号</el-menu-item>
                            <el-menu-item index="6-2">密码修改</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单四-->
                    <el-submenu index="7">
                        <template slot="title"><i class="el-icon-setting"></i>会员管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="6-1">账号管理</el-menu-item>
                            <el-menu-item index="6-2">添加账号</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 菜单四-->
                    <el-submenu index="8">
                        <template slot="title"><i class="el-icon-setting"></i>系统管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="8-1">系统信息</el-menu-item>
                            <el-menu-item index="8-2">系统配置</el-menu-item>
                            <el-menu-item index="8-3">权限管理</el-menu-item>
                            <el-menu-item index="8-4">添加管理组</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>

            <section id="right-con">
                <el-container>
                    <el-header>
                        <h2>欢迎您 admin</h2>
                        <p>查看详细的系统信息</p>
                    </el-header>

                    <el-main>
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>
                                    <h3>添加管理员账号</h3>
                                </span>
                                <!-- <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button> -->
                            </div>
                            <div class="text item">
                                <el-form :model="shipmentsForm" :rules="rules" ref="shipmentsForm" label-width="100px"
                                    class="demo-ruleForm">
                                    <!--开始时间  -->
                                    <el-form-item label="开始时间" required>
                                        <el-date-picker prop="date1" type="date" placeholder="选择日期" v-model="shipmentsForm.date1" style="width: 100%;"></el-date-picker>
                                    </el-form-item>
                                    <!-- 结束时间 -->
                                    <el-form-item label="结束时间" required>
                                        <el-date-picker prop="date2" type="date" placeholder="选择日期" v-model="shipmentsForm.date2"
                                            style="width: 100%;"></el-date-picker>
                                    </el-form-item>
                                    <!-- 关键字 -->
                                    <el-form-item label="关键字" prop="name">
                                        <el-input v-model="shipmentsForm.name"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm('shipmentsForm')">立即查询</el-button>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </el-card>

                    </el-main>
                    <!-- 右侧尾部 -->
                    <el-footer>
                        <hr />
                        <p>&copy; Copyright 2018 华联超市管理系统</p>
                    </el-footer>
                </el-container>
            </section>
            <!--  -->
        </el-container>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data() {
                return {
                    // 定义表单需要的数据
                    shipmentsForm: {
                        keyword: '',
                        date1: '',
                        date2: ''
                    },
                    // 验证 数据
                    rules: {
                        username: [
                            // required是否必填 message:提示信息 trigger:触发方式
                            {required: true, message: '请输入关键字', trigger: 'blur'}
                        ],
                        // date1: [
                        //     {type: 'date', message: '请选择开始日期', trigger: 'change'}
                        // ],
                        // date2: [{type: 'date',message: '请选择结束日期',trigger: 'change'}
                        // ]
                    }
                };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            console.log('搜索成功!');
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            },
            components: {
                'side-title': {
                    props: [],
                    data() {
                        return {
                            title: '华联超市管理系统',
                            userName: 'admin'
                        }

                    },
                    template: `<div id="side-title">
                    <h2>{{title}}</h2>
                    <p>你好,<a href="">{{userName}}</a></p>
                    <p><a href="/">管理首页</a> | <a href="/login">退出系统</a></p>
                </div>`
                }
            }
        })
    </script>
</body>

</html>